body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  background-color: #FAF4ED;
  margin: 50px 0 0;
}

.site-header,
.site-main,
.site-footer {
  width: 100%;
  max-width: 600px;
}

.site-title {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-size: 2em;
  font-style: italic;
  text-decoration: none;
}

.site-nav {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  a {
    text-decoration: none;
  }
}

.post-list article {
  display: grid;
  grid-template-columns: 6rem minmax(0, 1fr);
  column-gap: 0.5rem;
  align-items: baseline;
}

.post-list time {
  font-family: inherit;
  white-space: nowrap;
}

a {
  color: #5C5C5C;
}

a:hover {
  color: #000;
}

.skip-link {
  position: absolute;
  top: -100%;
}

.skip-link:focus {
  top: 0;
}
