body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-family: 'Hedvig Letters Serif', serif;
  font-size: 1rem;
  background-color: #FDF6E3;
  margin-top: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

header {
  max-width: 600px;
  margin-left: 10%;
  font-family: "DM Serif Text", serif;

  #title {
    font-weight: 400;
    font-size: 2em;
    font-style: italic;
  }

}

nav {
  background-color: #EEE8D5;


  ul {
    margin-left:-40px;
    list-style: none;
  }
  
  li {
    display: inline-block;
    margin-right: 10px; /* add spacing between items */
  }
}

main {
  background-color: aqua;
  margin-left: 10%;
  margin-right: 10%;
  max-width:600px;
}